body {
  background-color: rgb(41, 41, 171);
  color: aliceblue;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
}

#countContainer {
  display: flex;
  gap: 5px;
  justify-items: center;
}

#nameSelector {
  border: 5px whitesmoke solid;
  padding: 5px 20px;
}

#incrementalContainer,
#colorChooser {
  border: 5px whitesmoke solid;
  padding: 5px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#todoList {
  border: 5px whitesmoke solid;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

#sectionContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#incrementalButtons {
  display: flex;
  gap: 10px;
}

#newTaskInput {
  padding: 5px;
  margin-bottom: 10px; /* Space between the input and the button */
}

#numberedTasks {
  list-style-type: decimal; /* This adds numbers to your list items */
  padding-left: 20px; /* This adds padding to make the numbers visible */
}

button {
  background-color: steelblue;
  padding: 10px;
  margin: 0px 10px;
}
